<!DOCTYPE html>
<html>
<head>
    <title>Right Section</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <h1>Star Information Display</h1>
    <div id="koi_id_container">
        <!-- The selected "koi_id" will be displayed here -->
    </div>

    <!--checkboxes -->
    <div id="checkbox_container" style="display:none;">
        <input type="checkbox" id="detrendedLCCheckbox" onchange="togglePlotVisibilityDetrendedLightCurve()" checked/> 
        <label for="detrendedLCCheckbox">Detrended Light Curve</label>

        <input type="checkbox" id="foldedLightCurveCheckbox" onchange="togglePlotVisibilityFoldedLightCurve()" checked/>
        <label for="foldedLightCurveCheckbox">Folded Transit</label>

        <input type="checkbox" id="singleTransitCheckbox" onchange="togglePlotVisibilitySingleTransit()"/>
        <label for="singleTransitCheckbox">Single Transit</label>

        <input type="checkbox" id="OMCCheckbox" onchange="togglePlotVisibilityOMC()" checked/>
        <label for="OMCCheckbox">TTV</label>

        <input type="checkbox" id="CornerCheckbox" onchange="togglePlotVisibilityCorner()" checked/>
        <label for="CornerCheckbox">Corner</label>
    </div>

    <div id="detrendedLCTitle" style="display:none;">
        <h3>Kepler Detrended Light Curve:</h3>

        <div id="detrendedLCPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- detrended light curve will display here -->
        </div>

    </div>

    <div id="foldedLightCurveTitle" style="display:none;">
        <h3>Folded Light Curve:</h3>

        <div id="foldedLightCurvePlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- folded light curve will display here -->
        </div>
    </div>

    <div id="singleTransitTitle" style="display:none;">
        <h3>Single Transit:</h3>

        <div id="singleTransitPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- single transit plot will display here -->
        </div>
        <br>
        <div id="transitAdjustment" style="display:none;">
            <div>
                <label for="planetSelect">Select Planet:</label>
                <select id="planetSelect" onchange="updatePlotSingle()">
                    <!-- planet options will display here -->
                </select>
            
            </div>
            <div id="currentTransit">
                <!-- current transit number and center time should appear here-->
            </div>
            
            <button onclick="movePlotBackward()">&#x2190;</button> <!--previous transit-->
            <button onclick="movePlotForward()">&#x2192;</button> <!--next transit -->
            <br>
            <!-- <button onclick="move10Backward()">&#x2190;10</button>
            <button onclick="move10Forward()">10&#x2192;</button> -->
        </div>
    </div>

    <div id="OMCTitle" style="display:none;">
        <h3>O-C Curve:</h3>

        <div id="OMCPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- O-C plot will display here -->
        </div>
    </div>

    <div id="CornerTitle" style="display:none;">
        <h3>Corner Plot:</h3>
        <div id="cornerVarCheckbox" style="display:none;">
            <input type="checkbox" id="C0_0" onchange="columns()" checked/> 
            <label for="C0_0">C0</label>

            <input type="checkbox" id="C1_0" onchange="columns()" checked/> 
            <label for="C1_0">C1</label>

            <input type="checkbox" id="P" onchange="columns()" /> 
            <label for="P">P</label>

            <input type="checkbox" id="T0" onchange="columns()" /> 
            <label for="T0">T0</label>

            <input type="checkbox" id="ROR_0" onchange="columns()" checked/> 
            <label for="ROR_0">ROR</label>

            <input type="checkbox" id="IMPACT_0" onchange="columns()" checked/> 
            <label for="IMPACT_0">IMPACT</label>

            <input type="checkbox" id="DUR14_0" onchange="columns()" checked/> 
            <label for="DUR14_0">DUR14</label>


            <br>

            <input type="checkbox" id="LD_Q1" onchange="columns()"/> 
            <label for="LD_Q1">LD_Q1</label>

            <input type="checkbox" id="LD_Q2" onchange="columns()"/> 
            <label for="LD_Q2">LD_Q2</label>

            <input type="checkbox" id="LD_U1" onchange="columns()" /> 
            <label for="LD_U1">LD_U1</label>

            <input type="checkbox" id="LD_U2" onchange="columns()" /> 
            <label for="LD_U2">LD_U2</label>
        </div>
        <br>

        
        <div id="planetNum" style="display:none;">
            <div>
                <label for="selectPlanetNumber">Select Planet:</label>
                <select id="selectPlanetNumber" onchange="updateCorner()">
                    <!-- planet options will display here -->
                </select>
            </div>
        </div>

        <div id="defaultParam" style="display:none;">

            <label for="selectCornerParams">Quick Params:</label>
            <select id="selectCornerParams" onchange="updateParams()">
                <option value="default">Default: C0,C1,ROR,IMPACT,DUR14</option>
                <option value="physical7">Physical 7: P,T0,ROR,IMPACT,DUR14,U1,U2</option>
                <option value="physical5">Physical 5: P,T0,ROR,IMPACT,DUR14</option>
                <option value="physical3">Physical 3: ROR,IMPACT,DUR14</option>
                <option value="ld">Limb Darkening</option>
            </select>
        </div>

        <div id="CornerPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- folded light curve will display here -->
        </div>
    </div>


    <div id="planetPropertiesTitle" style="display:none;">
        <h3>Planet Properties:</h3>
        <table id="planetPropertiesTable">
            <thead>
                <tr>
                    <th>Planet Name</th>
                    <th>Period</th>
                    <th>Period/lcit</th>
                    <th>Impact</th>
                    <th>ROR</th>
                    <th>DUR14</th>
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </div>

    <div id="periodRatiosTitle" style="display:none;">
        <h3>Period Ratios:</h3>
        <table id="periodRatiosTable">
            <thead>
                <tr>
                    <th>Planet Name</th>
                    <th>Period</th>
                    
                </tr>
            </thead>
            <tbody>
                <!-- Rows will be dynamically inserted here by JavaScript -->
            </tbody>
        </table>
    </div>


    <script>
        function generatePlotDetrendedLightCurve(koiId) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainerDetrendedLightCurve = document.getElementById("detrendedLCPlot");
                        plotContainerDetrendedLightCurve.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainerDetrendedLightCurve = document.getElementById("detrendedLCPlot");
                        plotContainerDetrendedLightCurve.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainerDetrendedLightCurve, parsedData);
                    }
                })
                .catch(error => {
                    plotContainerDetrendedLightCurve.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilityDetrendedLightCurve() {
            const plotContainer = document.getElementById("detrendedLCPlot");
            const plotCheckbox = document.getElementById("detrendedLCCheckbox");
            const plotTitle = document.getElementById("detrendedLCTitle");
            
            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                generatePlotDetrendedLightCurve(selectedKoiId);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
            }

        }


        // single transit
        let lineNumber = 0; // lineNumber - index number from ttv
        let planet = '_00_quick.ttvs'
        // move forward and backward buttons
        function movePlotBackward() {
            lineNumber -= 9; // because of the 3x3 pannel
            if (lineNumber <0) {
                lineNumber = 0;
            }
            generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }

        function movePlotForward() {
           lineNumber += 9; // because of the 3x3 pannel
           generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }

        // move forward and backward buttons
        function move10Backward() {
            lineNumber -= 10;
            if (lineNumber <0) {
                lineNumber = 0;
            }
            generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }

        function move10Forward() {
           lineNumber += 10;
           generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }
        function displayTransitNumber(transitNumber){
            const transitInfo = document.getElementById("currentTransit");
            transitInfo.innerHTML = `<p>Current transit: Number ${transitNumber}</p>`;
        }
        // generate the plot
        function generatePlotSingleTransit(koiId, lineNumber,planet) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot_single_transit/${koiId}/${lineNumber}/${planet}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data"); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("singleTransitPlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("singleTransitPlot");
                        plotContainer.innerHTML = "";
                        //display transit number
                        const trueTransitNumber = data.transit_number;
                        displayTransitNumber(trueTransitNumber);
                        //display plot
                        const parsedData = JSON.parse(data.graphJSON);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                    
                })
                .catch(error => {
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilitySingleTransit() {
            const plotContainer = document.getElementById("singleTransitPlot");
            const plotCheckbox = document.getElementById("singleTransitCheckbox");
            const plotTitle = document.getElementById("singleTransitTitle");
            const transitButtons = document.getElementById("transitAdjustment");

            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                transitButtons.style.display = "block";
                generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
                transitButtons.style.display = "none";
                
            }

        }

        function updatePlanetSelectOptions(koi_id) {
            fetch(`/get_transit_file_options/${koi_id}`)
                .then(response => response.json())
                .then(options => {
                    const select = document.getElementById("planetSelect");
                    select.innerHTML = ""; // Clear previous options
                    options.forEach(option => {
                        const opt = document.createElement("option");
                        opt.value = option.value;
                        opt.innerHTML = option.number;
                        select.appendChild(opt);
                    });
                    // Trigger plot update when options are updated
                    //updatePlot();
                })
                .catch(error => console.error('Error fetching transit file options:', error));
        }

        function updatePlotSingle() {
            const planetSelect = document.getElementById("planetSelect");
            planet = planetSelect.value;
            lineNumber=0
            console.log(planet)
            generatePlotSingleTransit(selectedKoiId, lineNumber, planet);
        }

        // Function to reset planet dropdown when a new koi_id is clicked
        function resetPlanetDropdownSingle() {
            const planetSelect = document.getElementById("planetSelect");
            
            // Set the dropdown value back to "00"
            planetSelect.value = '_00_quick.ttvs';

            // Reset planet to default
            planet = '_00_quick.ttvs';
            //lineNumber = 0;

            console.log("Dropdown reset to 00 and planet reset to default");
        }

        // folded light curve
        function generatePlotFoldedLightCurve(koiId) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot_folded_light_curve/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("foldedLightCurvePlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("foldedLightCurvePlot");
                        plotContainer.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                })
                .catch(error => {
                    const plotContainer = document.getElementById("foldedLightCurvePlot");
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilityFoldedLightCurve() {
            const plotContainer = document.getElementById("foldedLightCurvePlot");
            const plotCheckbox = document.getElementById("foldedLightCurveCheckbox");
            const plotTitle = document.getElementById("foldedLightCurveTitle");
            
            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                generatePlotFoldedLightCurve(selectedKoiId);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
            }

        }

        // O-C
        function generatePlotOMC(koiId) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot_OMC/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("OMCPlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("OMCPlot");
                        plotContainer.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                })
                .catch(error => {
                    const plotContainer = document.getElementById("OMCPlot");
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilityOMC() {
            const plotContainer = document.getElementById("OMCPlot");
            const plotCheckbox = document.getElementById("OMCCheckbox");
            const plotTitle = document.getElementById("OMCTitle");
            
            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                generatePlotOMC(selectedKoiId);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
            }

        }

        // corner plot
        let planetNumCorner = 0
        let selectedColumns = [`C0_${planetNumCorner}`, `C1_${planetNumCorner}`,`ROR_${planetNumCorner}`,`IMPACT_${planetNumCorner}`,`DUR14_${planetNumCorner}`]; // Initial selection

        function generatePlotCorner(koiId,selectedColumns,planetNumCorner) {
            // Fetch the Plotly figure data from the server
            const encodedColumns = encodeURIComponent(selectedColumns.join(','));
            fetch(`/generate_plot_corner/${koiId}/${encodedColumns}/${planetNumCorner}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("CornerPlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("CornerPlot");
                        plotContainer.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                })
                .catch(error => {
                    const plotContainer = document.getElementById("CornerPlot");
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

    
        function columns() {
            selectedColumns = []; // Clear the array
            
            // Get all checked checkboxes and add their IDs to selectedColumns
            const checkboxes = document.querySelectorAll('#cornerVarCheckbox input[type="checkbox"]:checked');
            checkboxes.forEach(checkbox => {
                selectedColumns.push(checkbox.id);
            });
            
            // Regenerate the plot with updated selected columns
            generatePlotCorner(selectedKoiId, selectedColumns, planetNumCorner);
        }

        function updatePlanetOptionsCorner(koi_id) {
            fetch(`/get_transit_file_options_corner/${koi_id}`)
                .then(response => response.json())
                .then(options => {
                    const select = document.getElementById("selectPlanetNumber");
                    select.innerHTML = ""; // Clear previous options
                    options.forEach(option => {
                        const opt = document.createElement("option");
                        opt.value = option.value;
                        opt.innerHTML = option.number;
                        select.appendChild(opt);
                    });
                    //updatePlanetNumber();
                })
                .catch(error => console.error('Error fetching transit file options:', error));
        }


        function updateParams() {
            var selectedOption = document.getElementById("selectCornerParams").value;

            // Reset all checkboxes to unchecked
            var checkboxes = document.querySelectorAll("#cornerVarCheckbox input[type=checkbox]");
            checkboxes.forEach(function(checkbox) {
                checkbox.checked = false;
            });

            // Check checkboxes based on selected option
            if (selectedOption === "default") {
                document.getElementById(`C0_${planetNumCorner}`).checked = true;
                document.getElementById(`C1_${planetNumCorner}`).checked = true;
                document.getElementById(`ROR_${planetNumCorner}`).checked = true;
                document.getElementById(`IMPACT_${planetNumCorner}`).checked = true;
                document.getElementById(`DUR14_${planetNumCorner}`).checked = true;
                //document.getElementById("LD_U1").checked = true;
                //document.getElementById("LD_U2").checked = true;
            } else if (selectedOption === "physical7") {
                document.getElementById("P").checked = true;
                document.getElementById("T0").checked = true;
                document.getElementById(`ROR_${planetNumCorner}`).checked = true;
                document.getElementById(`IMPACT_${planetNumCorner}`).checked = true;
                document.getElementById(`DUR14_${planetNumCorner}`).checked = true;
                document.getElementById("LD_U1").checked = true;
                document.getElementById("LD_U2").checked = true;
            } else if (selectedOption === "physical5") {
                document.getElementById("P").checked = true;
                document.getElementById("T0").checked = true;
                document.getElementById(`ROR_${planetNumCorner}`).checked = true;
                document.getElementById(`IMPACT_${planetNumCorner}`).checked = true;
                document.getElementById(`DUR14_${planetNumCorner}`).checked = true;
            } else if (selectedOption === "physical3") {
                document.getElementById(`ROR_${planetNumCorner}`).checked = true;
                document.getElementById(`IMPACT_${planetNumCorner}`).checked = true;
                document.getElementById(`DUR14_${planetNumCorner}`).checked = true;
            } else if (selectedOption === "ld") {
                document.getElementById("LD_U1").checked = true;
                document.getElementById("LD_U2").checked = true;
                document.getElementById("LD_Q1").checked = true;
                document.getElementById("LD_Q2").checked = true;
            }

            // Call columns() function if needed
            columns();
        }

        function updateCorner() {
            const planetSelect = document.getElementById("selectPlanetNumber");
            planetNumCorner = parseInt(planetSelect.value);
            console.log(planetNumCorner)
            
            // Loop through checkbox inputs and update their IDs
            var checkboxes = document.querySelectorAll("#cornerVarCheckbox input[type=checkbox]");
            //var extractedNumber = planetNumber.match(/__(\d{2})/)[1];
            checkboxes.forEach(function(checkbox) {
                checkbox.id = checkbox.id.replace(/_\d+$/, "_" + planetNumCorner);
                checkbox.nextElementSibling.setAttribute("for", checkbox.id); // Update the label's 'for' attribute
                //checkbox.nextElementSibling.textContent = checkbox.id; // Update the label text
            });

            // Call columns() function if needed
            columns();
        }

        // Function to reset planet dropdown when a new koi_id is clicked
        function resetPlanetDropdownCorner() {
            const planetSelect = document.getElementById("selectPlanetNumber");
            
            // Set the value of the planet number dropdown to "00"
            planetSelect.value = "00";

            // Set the planet number corner to 0
            planetNumCorner = 0;
            selectedColumns = [`C0_${planetNumCorner}`, `C1_${planetNumCorner}`,`ROR_${planetNumCorner}`,`IMPACT_${planetNumCorner}`,`DUR14_${planetNumCorner}`]; // Initial selection


            // Update the checkboxes' IDs accordingly (with 0 as planetNumCorner)
            var checkboxes = document.querySelectorAll("#cornerVarCheckbox input[type=checkbox]");
            checkboxes.forEach(function(checkbox) {
                checkbox.id = checkbox.id.replace(/_\d+$/, "_0");
                checkbox.nextElementSibling.setAttribute("for", checkbox.id);
            });

            console.log("Dropdown reset to 00 and planetNumCorner reset to 0");
        }


        function togglePlotVisibilityCorner() {
            const plotContainer = document.getElementById("CornerPlot");
            const plotCheckbox = document.getElementById("CornerCheckbox");
            const plotTitle = document.getElementById("CornerTitle");
            const cornerVar = document.getElementById("cornerVarCheckbox");
            const defaultParam = document.getElementById("defaultParam");
            const planetNum = document.getElementById("planetNum");

            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                cornerVar.style.display="block";
                defaultParam.style.display="block";
                planetNum.style.display="block";
                generatePlotCorner(selectedKoiId,selectedColumns, planetNumCorner);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
                cornerVar.style.display = "none";
                defaultParam.style.display = "none";
                planetNum.style.display = "none";
            }

        }


        function displayPlanetProperties(koiId) {
            fetch(`/planet_properties/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    const planetPropertiesTitle = document.getElementById("planetPropertiesTitle");
                    const tableBody = document.querySelector("#planetPropertiesTable tbody");

                    // Clear any existing rows in the table body
                    tableBody.innerHTML = '';

                    // Populate the table with the fetched data
                    data.forEach(row => {
                        const newRow = document.createElement('tr');
                        newRow.innerHTML = `
                            <td>${row['planet_name']}</td>
                            <td>${row['period']}</td>
                            <td>${row['lcit_ratio']}</td>
                            <td>${row['impact']}</td>
                            <td>${row['ror']}</td>
                            <td>${row['duration']}</td>
                        `;
                        tableBody.appendChild(newRow);
                    });

                    // Show the table section
                    planetPropertiesTitle.style.display = 'block';
                })
                .catch(error => {
                    console.error('Error fetching planet properties:', error);
                });
        }

        function displayPeriodRatios(koiId) {
            fetch(`/period_ratios/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    const planetPropertiesTitle = document.getElementById("periodRatiosTitle");
                    const tableBody = document.querySelector("#periodRatiosTable tbody");

                    // Clear any existing rows in the table body
                    tableBody.innerHTML = '';

                    // Populate the table with the fetched data
                    data.forEach(row => {
                        const newRow = document.createElement('tr');
                        newRow.innerHTML = `
                            <td>${row['planet_name']}</td>
                            <td>${row['period']}</td>
                            
                        `;
                        tableBody.appendChild(newRow);
                    });

                    // Show the table section
                    planetPropertiesTitle.style.display = 'block';
                })
                .catch(error => {
                    console.error('Error fetching planet properties:', error);
                });
        }


    </script>

</body>

</html>