<!DOCTYPE html>
<html>
<head>
    <title>Right Section</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
<body>
    <h1>Star Information Display</h1>
    <div id="koi_id_container">
        <!-- The selected "koi_id" will be displayed here -->
    </div>

    <!--checkboxes -->
    <div id="checkbox_container" style="display:none;">
        <input type="checkbox" id="detrendedLCCheckbox" onchange="togglePlotVisibilityDetrendedLightCurve()" checked/> 
        <label for="detrendedLCCheckbox">Detrended Light Curve</label>

        <input type="checkbox" id="foldedLightCurveCheckbox" onchange="togglePlotVisibilityFoldedLightCurve()"/>
        <label for="foldedLightCurveCheckbox">Folded Transit</label>

        <input type="checkbox" id="singleTransitCheckbox" onchange="togglePlotVisibilitySingleTransit()"/>
        <label for="singleTransitCheckbox">Single Transit</label>

        <input type="checkbox" id="OMCCheckbox" onchange="togglePlotVisibilityOMC()"/>
        <label for="OMCCheckbox">O-C</label>
    </div>

    <div id="detrendedLCTitle" style="display:none;">
        <h3>Kepler Detrended Light Curve:</h3>

        <div id="detrendedLCPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- detrended light curve will display here -->
        </div>

    </div>

    <div id="foldedLightCurveTitle" style="display:none;">
        <h3>Folded Light Curve:</h3>

        <div id="foldedLightCurvePlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- folded light curve will display here -->
        </div>
    </div>

    <div id="singleTransitTitle" style="display:none;">
        <h3>Single Transit:</h3>

        <div id="singleTransitPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- single transit plot will display here -->
        </div>
        <br>
        <div id="transitAdjustment" style="display:none;">
            <div>
                <label for="planetSelect">Select Planet:</label>
                <select id="planetSelect" onchange="updatePlot()">
                    <!--<option value="_00_quick.ttvs" {% if request.args.get('planet') == '_00_quick.ttvs' %}selected{% endif %}>00</option> -->
                    <!--<option value="_01_quick.ttvs" {% if request.args.get('planet') == '_01_quick.ttvs' %}selected{% endif %}>01</option> -->
                    <!--<option value="2023-05-19_singles.csv">Singles</option>
                    <option value="2023-05-15_doubles.csv">Doubles</option> -->
                </select>
            
            </div>
            <div id="currentTransit">
                <!-- current transit number and center time should appear here-->
            </div>
            
            <button onclick="movePlotBackward()">&#x2190;</button> <!--previous transit-->
            <button onclick="movePlotForward()">&#x2192;</button> <!--next transit -->
            <br>
            <button onclick="move10Backward()">&#x2190;10</button>
            <button onclick="move10Forward()">10&#x2192;</button>
        </div>
    </div>

    <div id="OMCTitle" style="display:none;">
        <h3>O-C Curve:</h3>

        <div id="OMCPlot" data-koi-id="{{ koi_id }}" style="display:none;">
            <!-- O-C plot will display here -->
        </div>
    </div>



    <script>
        function generatePlotDetrendedLightCurve(koiId) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainerDetrendedLightCurve = document.getElementById("detrendedLCPlot");
                        plotContainerDetrendedLightCurve.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainerDetrendedLightCurve = document.getElementById("detrendedLCPlot");
                        plotContainerDetrendedLightCurve.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainerDetrendedLightCurve, parsedData);
                    }
                })
                .catch(error => {
                    plotContainerDetrendedLightCurve.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilityDetrendedLightCurve() {
            const plotContainer = document.getElementById("detrendedLCPlot");
            const plotCheckbox = document.getElementById("detrendedLCCheckbox");
            const plotTitle = document.getElementById("detrendedLCTitle");
            
            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                generatePlotDetrendedLightCurve(selectedKoiId);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
            }

        }


        // single transit
        let lineNumber = 0; // lineNumber - index number from ttv
        let planet = '_00_quick.ttvs'
        // move forward and backward buttons
        function movePlotBackward() {
            lineNumber -= 1;
            if (lineNumber <0) {
                lineNumber = 0;
            }
            generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }

        function movePlotForward() {
           lineNumber += 1;
           generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }

        // move forward and backward buttons
        function move10Backward() {
            lineNumber -= 10;
            if (lineNumber <0) {
                lineNumber = 0;
            }
            generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }

        function move10Forward() {
           lineNumber += 10;
           generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
        }
        function displayTransitNumber(transitNumber){
            const transitInfo = document.getElementById("currentTransit");
            transitInfo.innerHTML = `<p>Current transit: Number ${transitNumber}</p>`;
        }
        // generate the plot
        function generatePlotSingleTransit(koiId, lineNumber,planet) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot_single_transit/${koiId}/${lineNumber}/${planet}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data"); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("singleTransitPlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("singleTransitPlot");
                        plotContainer.innerHTML = "";
                        //display transit number
                        const trueTransitNumber = data.transit_number;
                        displayTransitNumber(trueTransitNumber);
                        //display plot
                        const parsedData = JSON.parse(data.graphJSON);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                    
                })
                .catch(error => {
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilitySingleTransit() {
            const plotContainer = document.getElementById("singleTransitPlot");
            const plotCheckbox = document.getElementById("singleTransitCheckbox");
            const plotTitle = document.getElementById("singleTransitTitle");
            const transitButtons = document.getElementById("transitAdjustment");

            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                transitButtons.style.display = "block";
                generatePlotSingleTransit(selectedKoiId, lineNumber,planet);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
                transitButtons.style.display = "none";
                
            }

        }

        function updatePlanetSelectOptions(koi_id) {
            fetch(`/get_transit_file_options/${koi_id}`)
                .then(response => response.json())
                .then(options => {
                    const select = document.getElementById("planetSelect");
                    select.innerHTML = ""; // Clear previous options
                    options.forEach(option => {
                        const opt = document.createElement("option");
                        opt.value = option.value;
                        opt.innerHTML = option.number;
                        select.appendChild(opt);
                    });
                    // Trigger plot update when options are updated
                    updatePlot();
                })
                .catch(error => console.error('Error fetching transit file options:', error));
        }

        function updatePlot() {
            const planetSelect = document.getElementById("planetSelect");
            planet = planetSelect.value;
            console.log(planet)
            generatePlotSingleTransit(selectedKoiId, lineNumber, planet);
        }

        // folded light curve
        function generatePlotFoldedLightCurve(koiId) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot_folded_light_curve/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("foldedLightCurvePlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("foldedLightCurvePlot");
                        plotContainer.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                })
                .catch(error => {
                    const plotContainer = document.getElementById("foldedLightCurvePlot");
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilityFoldedLightCurve() {
            const plotContainer = document.getElementById("foldedLightCurvePlot");
            const plotCheckbox = document.getElementById("foldedLightCurveCheckbox");
            const plotTitle = document.getElementById("foldedLightCurveTitle");
            
            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                generatePlotFoldedLightCurve(selectedKoiId);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
            }

        }

        // O-C
        function generatePlotOMC(koiId) {
            // Fetch the Plotly figure data from the server
            fetch(`/generate_plot_OMC/${koiId}`)
                .then(response => response.json())
                .then(data => {
                    console.log("Received data:", data); // Log the received data
                    if(data.error_message){ 
                        // Display the error message in the plot container
                        const plotContainer = document.getElementById("OMCPlot");
                        plotContainer.innerHTML = `<p>${data.error_message}</p>`;
                    } else { 
                        // Clear any existing error message
                        const plotContainer = document.getElementById("OMCPlot");
                        plotContainer.innerHTML = "";
                        //display plot
                        const parsedData = JSON.parse(data);
                        Plotly.newPlot(plotContainer, parsedData);
                    }
                })
                .catch(error => {
                    const plotContainer = document.getElementById("OMCPlot");
                    plotContainer.innerHTML = "<p>Error loading plot data.</p>";
                    console.error(error);
                });
        }

        function togglePlotVisibilityOMC() {
            const plotContainer = document.getElementById("OMCPlot");
            const plotCheckbox = document.getElementById("OMCCheckbox");
            const plotTitle = document.getElementById("OMCTitle");
            
            if (plotCheckbox.checked) {
                plotTitle.style.display = "block";
                plotContainer.style.display = "block";  // Show the plot
                generatePlotOMC(selectedKoiId);
            } else {
                plotTitle.style.display = "none";
                plotContainer.style.display = "none";   // Hide the plot
            }

        }




    </script>

</body>

</html>